@model ContactViewModel

<h2>Thank you for adding a new contact</h2>
<h3>Below is a summary:</h3>
<ul>
    <li>Name: @Model.Name</li>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Age: @Model.Age</li>
</ul>